<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  

</ion-header>

<ion-content padding class="animated fadeIn auth-page bg">
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown zonelogo">
      <div class="logo"></div>            
      <p text-center ion-text color="light"><strong>ANGRY TEACHER</strong></p>
    </div>
    <div *ngIf="!login">
    <!-- Login form -->
    <form class="list-form">
      <ion-item class="txt">        
        <ion-input type="text" placeholder="Email or Phone No." [(ngModel)]="loginname" name="loginname"></ion-input>
      </ion-item>

      <ion-item class="txt">        
        <ion-input type="password" placeholder="Password" [(ngModel)]="password" name="password"></ion-input>
      </ion-item>
    </form>

    

    
      <button ion-button icon-start block tappable class="btnlogin" (click)="tologin()">        
        LOG IN
      </button>
      <p text-center ion-text color="dark" tappable (click)="forgotPass()"><strong>Forgot Password?</strong></p>
      <p text-center ion-text class="lblor" (click)="checklogin()"><strong>or</strong></p>
      <button ion-button block tappable class="btnfacebook" style="text-transform: none;" (click)="loginFb()" *ngIf="!login">
        <i item-left>
          <ion-icon name="logo-facebook"></ion-icon>
        </i>
        <ion-label>
          <p>Facebook</p>
        </ion-label>
      </button>
      
      <!-- Other links -->
      <div text-center margin-top>
        <span ion-text color="dark" tappable (click)="signup()"><strong>SIGN UP</strong></span>
      </div>

      </div>

    




    
      <button ion-button block (click)="tologout()" *ngIf="login">Logout</button>
  </div>
  
</ion-content>
