page-home {
    .selector{
        border : 1px solid #ffffff;
        color: #ffffff;
        font-weight: bold;
        max-width: 100% !important;
        padding: 4px;
        //float: right;
    }
}
